<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information</title>
</head>
<body>
    <h1>Users Information</h1>
    <p> Name : {{request.session.name}}</p>
    <p> Location: {{request.session.location}}</p>
    <p> Language: {{request.session.language}}</p>
    <p> Courses :{{request.session.pyth}}</p>
    <p> Added Comments :{{request.session.comment}}</p>
</body>
</html>