<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Winner page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
</head>
<body>
    <center>
    <h1>Welcom To The Great Number Game</h1>
   <h3>I'm thinking of a number between 1 & 100</h3>
   <h3>Take a guess!</h3> 
   <h1 style="width:350px;height:350px;background-color:green;">{{request.session.numbers}} was the number</h1>
   <br><br>
   <form action="/back" method="POST">
    {% csrf_token %}
       <button type="submit"> play again</button>
   </form>
   </center>
</body>
</html>