<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
</head>
<body>
    <div>
        <h1>Playground </h1>
        {% for i in range(num1) %}
        <div style="height: 200px;width: 200px; border: 1px solid blueviolet;background-color:{{c}};margin: 40px;display: inline-block;"></div>
        {% endfor %}  
    </div>
</body>
</html>