<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey result</title>
</head>
<body>
    <h1>Submmited Info</h1>
    <p>Name :                   {{name}}</p>
    <p> Dojo Location :         {{location}}</p>
    <p>Favourit Language:       {{language}}</p>
    <p>Taken Courses:           {{course1}}</p>
    <p>Comment:                 {{comment}}</p>

    <form action='/goback'>
        <input type="submit" value="Go back" name="goback">
    </form>
    
</body>
</html>