<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
</head>
<body>
    <main style="background-color: azure;">
        <h1 style="text-align: center;"> Welcome</h1>
    <div style="display: flex;justify-content: space-around;">
        <div style="height: 200px;width: 200px; border: 1px solid blueviolet;background-color: blue; margin: 40px;"></div>
        <div style="height: 200px;width: 200px; border: 1px solid blueviolet;background-color: blue;margin: 40px"></div>
        <div style="height: 200px;width: 200px; border: 1px solid blueviolet;background-color: blue;margin: 40px"></div>
    </div>
    
    </main>
    
</body>
</html>